
<!DOCTYPE html>
<html lang="en" ng-app="goingToMoon">
<head>
	<title>We're going to the moon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body id="body">
	<header>
		<h1>We're going to the moon</h1>
		<p>and we've got lots of gently used goods that would love a new home!</p>
		<button scroll-on-click href="#intro" class="primary">Learn more</button>
	</header>
	<div id="clouds"></div>
	<div id="clouds-overlay"></div>
	<div id="bg">
		<section id="intro">
			<div class="wrapper span_3of4">
				<p animate-on-scroll class="papers">Book flight and apply for moon visa</p>
				<p animate-on-scroll class="spaceship">Build the coolest spaceship ever</p>
				<p animate-on-scroll class="equipment">Shop for some moon accessories</p>
				<div animate-on-scroll class="announcement">
					<h2>In preparation for our new lunar habitat, everything must go!</h2>
					<p>Our rocket is tiny and we've gotta pack light. Help us lighten our load and fund our trip!</p>
				</div>
				<button scroll-on-click href=".scroll" class="primary">Woohoo!</button>
			</div>
		</section>
		<div class="gradient"></div>

		<div ng-view></div>
		
		<section id="contact" ng-controller="contactCtrl">
			<div class="width">
				<div animate-on-scroll class="announcement">
					<h2>Something caught your eye?</h2>
					<p>Drop us a line to reserve an item or if you have any questions.</p>
				</div>
				<form class="span_1of4" id="feedback" name="feedback" ng-submit="sendFeedback(feedback)" novalidate>
					<fieldset>
						<input type="text" ng-model="feedback.name" name="user" placeholder="Name" required>
						<input type="text" ng-model="feedback.email" name="mail" placeholder="Email" required>
						<textarea ng-model="feedback.message" name="comment" placeholder="Tell us what you think" required></textarea>
						<input type="submit" value="Shoot">
					</fieldset>
				</form>
			</div>
		</section>
	</div>

	<footer id="test">
	</footer>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-59302001-3', 'auto');
		ga('send', 'pageview');
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<script src="js/goingtomoon.js"></script>
</body>
</html>
