<main id="main" class="scroll span_3of4">
	<div class="tag-bar">
		<ul>
			<li class="tag" ng-click="setTag('')"><span>all</span></li>
			<li class="tag celestial" ng-click="setTag('celestial')"><span>celestial</span></li>
			<li class="tag sparkly" ng-click="setTag('sparkly')"><span>sparkly</span></li>
			<li class="tag luminous" ng-click="setTag('luminous')"><span>luminous</span></li>
			<li class="tag alien-friendly" ng-click="setTag('alien-friendly')"><span>alien-friendly</span></li>
			<li class="tag moonrock" ng-click="setTag('moonrock')"><span>moonrock</span></li>
			<li class="tag launch-ready" ng-click="setTag('launch-ready')"><span>launch-ready</span></li>
		</ul>
	</div>
	<div ng-repeat="item in items | filter:tag" class="item" animate-on-scroll>
		<a href="#/items/{{item.$id}}" ng-click="setViews(item.$id)">
			<div class="overlay"></div>
			<figure>
				<img ng-src={{item.img}} />
				<figcaption>{{item.name}}</figcaption>
			</figure>
		</a>
		
		<div class="toolbar">
			<ul>
				<li class="hearts" ng-show="hasStorage" ng-click="toggleStar(item.$id)">
					<img src="img/heart_off.png" ng-show="!isStarred(item.$id)">
					<img src="img/heart_on.png" ng-show="isStarred(item.$id)">
					<span>{{item.stats.stars}}</span>
				</li>
				<li class="comments"><img src="img/bubble.png"><span>{{item.stats.comments}}</span></li>
				<li class="views"><img src="img/view.png"><span>{{item.stats.views}}</span></li>
			</ul>
		</div>
		<ul class="tags">
			<li ng-repeat="tag in item.tags" class="tag {{tag}}" ng-click="setTag('{{tag}}')" data-tooltip="{{tag}}"></li>
		</ul>
	</div>
</main>